/sbt-demo/.bsp
/sbt-demo/project/target
/sbt-demo/project/project
/sbt-demo/.idea
/sbt-demo/null
/sbt-demo/target
/scala-demo/.bsp
/scala-demo/project/target
/scala-demo/project/project
/scala-demo/.idea
/scala-demo/null
/scala-demo/target
/scala-pom/.idea
/scala-pom/target
/scala-pom/scala-pom.iml
